.header {
  height: var(--header-height);
  background-color: var(--clr-rose-100);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: var(--clr-red);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    @include media(sm, max) {
      font-size: var(--fs-h4);
    }
  }
  .cart-icon {
    @extend %flex-center !optional;
    @include box(30px);
    img {
      max-width: 30px;
    }
    @include media(lg) {
      display: none;
    }
  }
}
