.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: var(--z-index-modal-backdrop);
  position: fixed;
  inset: 0;
  pointer-events: none;
  transition: var(--transition-duration-slow);
  &.show {
    opacity: 0.5;
    pointer-events: all;
  }
}

.products-container {
  padding-bottom: var(--spacing-8);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    transition:all var(--transition-duration-base) linear , padding .2s linear;
    margin-bottom: var(--spacing-3);
    
    &.hidden { 
      top: -100px;
    }
    &.show {
      background-color: var(--clr-white); 
      padding: var(--spacing-2);
      z-index: var(--z-index-fixed);
      position: sticky;
      top: var(--spacing-1);
      left: 0;
      right: 0;
      width: 100%;
      border-radius: var(--br-2);
      box-shadow: var(--box-shadow-md);
    }
    h1 {
      font-size: var(--fs-h2);
      margin-block: var(--spacing-4);
      font-family: var(--ff-title);
      color: var(--clr-rose-900);
    }
    .cart-icon {
      @extend %flex-center !optional;
      @include box(40px);
      border-radius: var(--br-1);
      img {
        max-width: 25px;
        aspect-ratio: 1;
      }
      @include media(lg) {
        display: none;
      }
    }
  }
  .content {
    display: flex;
    gap: var(--spacing-4);
    .cart {
      align-self: flex-start;
      justify-self: end;
    }
  }
}

.order-confirmed {
  scroll-snap-type: y mandatory;
  max-height: 70%;
  position: fixed;
  display: grid;
  gap: var(--spacing-4);
  top: 50%;
  overflow: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  z-index: var(--z-index-confirm-order);
  padding: var(--spacing-4) var(--spacing-6);
  border-radius: var(--br-3);
  box-shadow: var(--box-shadow-lg);
  width: 400px;
  max-width: 100%;
  @include fade(out);
  transition: none;

  &.show {
    @include fade(in);
  }

  .cart-body {
    background-color: var(--clr-rose-50);
    padding: var(--spacing-4);
    border-radius: var(--br-1);
  }

  span {
    color: var(--clr-rose-500);
  }

  h3 {
    font-size: var(--fs-h2);
    font-weight: bolder;
  }

  img {
    max-width: 45px;
  }
}
