.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: var(--z-index-modal-backdrop);
  position: fixed;
  inset: 0;
  pointer-events: none;
  transition: var(--transition-duration-slow);
  &.show {
    opacity: 0.5;
    pointer-events: all;
  }
}

.products-container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: var(--fs-h1);
      margin-block: var(--spacing-4);
      color: var(--clr-rose-900)
    }
    .cart-icon {
      @extend %flex-center !optional;
      @include box(50px);
      border-radius: var(--br-2);
      img {
        max-width: 30px;
        aspect-ratio: 1;
      }
      @include media(lg) {
        display: none;
      }
    }
  }
  .content {
    display: flex;
    gap: var(--spacing-4);

    .products {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: var(--spacing-2);
    }

    .cart {
      align-self: flex-start;
      justify-self: end;
    }
  }
}

.order-confirmed {
  scroll-snap-type: y mandatory;
  max-height: 70%;
  position: fixed;
  display: grid;
  gap: var(--spacing-4);
  top: 50%;
  overflow: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  z-index: var(--z-index-confirm-order);
  padding: var(--spacing-4) var(--spacing-6);
  border-radius: var(--br-3);
  box-shadow: var(--box-shadow-lg);
  width: 400px;
  max-width: 100%;
  @include fade(out);
  transition: none;

  &.show {
    @include fade(in);
  }

  .cart-body {
    background-color: var(--clr-rose-50);
    padding: var(--spacing-4);
    border-radius: var(--br-1);
  }

  span {
    color: var(--clr-rose-500);
  }

  h3 {
    font-size: var(--fs-h2);
    font-weight: bolder;
  }

  .btn {
    width: 100%;
    border-radius: var(--br-3);

    &:hover {
      background-color: hsl(from var(--clr-red) h s l / 90%);
    }
  }

  img {
    max-width: 45px;
  }
}
