.product {
  background-color: var(--clr-bg-light);
  overflow: hidden;
  text-align: center;

  &-image {
    margin-bottom: var(--spacing-4);
    position: relative;

    .image img {
      border-radius: var(--br-3);
      height: 100%;
      display: block;
    }
  }
  &-actions {
    display: grid;
    place-items: center;
    position: absolute;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: clamp(120px, 140px, 180px);
    .addtocart,
    .product-quantity-controls {
      position: absolute;
      width: 100%;
    }
    .addtocart {
      background-color: var(--clr-white);
      color: var(--clr-red);
      border: 1px solid var(--clr-red);
      font-size: var(--fs-xs)
    }
  }
  &-quantity-controls {
    @include fade(out);
    @extend %flex-between;
    background-color: var(--clr-red);
    color: var(--clr-white);
    .btn-action {
      border-color: var(--clr-white);
    }
  }

  &.added {
    .image img {
      border: 3px solid var(--clr-red);
    }

    .product-actions {
      .addtocart {
        @include fade(out);
      }
      .product-quantity-controls {
        @include fade(in);
      }
    }
  }

  &-details {
    text-align: left;
    padding: var(--spacing-4);
  }

  &-category {
    margin-bottom: var(--spacing-2);
    color: var(--clr-gray-light);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-sm);
  }

  &-name {
    font-size: var(--fs-md);
    color: var(--clr-text-dark);
    margin-bottom: var(--spacing-1);
    color: var(--clr-gray-dark);
  }

  &-price {
    font-size: var(--fs-h4);
    color: var(--clr-red);
    font-weight: var(--fw-bold);
  }
}
