.cart {
  background-color: var(--clr-white);
  padding: var(--spacing-4);
  border-radius: var(--br-3);
  box-shadow: var(--box-shadow-lg);
  width: 300px;
  position: sticky;
  flex: none;
  top: 0;

  @include media(lg, max) {
    z-index: var(--z-index-cart);
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: fixed;
    @include fade(out);
    transition: none;
    transform-origin: top left;
    &.show {
      transition: var(--transition-duration-slow);
      @include fade(in);
    }
  }

  &-holder.hidden {
    display: none;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-4) var(--spacing-2);

    &.hidden {
      display: none;
    }

    img {
      width: 130px;
      margin-bottom: var(--spacing-4);
    }

    h3 {
      font-size: var(--fs-sm);
      color: var(--clr-rose-500);
      font-weight: var(--fw-semibold);
      white-space: nowrap;
    }
  }

  &-title {
    text-align: center;
    font-size: var(--fs-h4);
    color: var(--clr-red);
    margin-bottom: var(--spacing-2);

    &-count {
      font-weight: var(--fw-bold);
      color: var(--clr-red);
    }
  }

  &-items {
    margin-bottom: var(--spacing-4);
  }

  .delivery-note {
    @extend %flex-center;
    gap: var(--spacing-2);
    font-size: var(--fs-xs);
    color: var(--clr-gray-dark);
    margin-bottom: var(--spacing-4);
    text-align: center;
    background-color: var(--clr-rose-100);
    padding: var(--spacing-1);
    border-radius: var(--br-1);
    width: fit-content;
    margin-inline: auto;
    padding-inline: var(--spacing-2);
    margin-top: var(--spacing-4);
  }

  
}

.cart-body {
  &.hidden {
    display: none;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-2) 0;

    &:last-child {
      border-bottom: none;
    }
    .btn-action {
      border-color: var(--clr-rose-300);
      &:hover {
        border-color: var(--clr-rose-500);
      }
    }

    &-name {
      font-size: var(--fs-md);
      color: var(--clr-gray-dark);
      margin: 0;
    }

    &-details {
      display: flex;
      gap: var(--spacing-2);
      img {
        display: none;
        @include box(50px);
        border-radius: var(--br-1);
        object-fit: cover;
        object-position: center;
      }
    }

    &-pricing {
      font-size: var(--fs-sm);
      color: var(--clr-gray-dark);
      margin-top: var(--spacing-1);
    }

    &-quantity {
      font-weight: var(--fw-semibold);
      color: var(--clr-red);
    }

    &-price {
      margin-left: var(--spacing-1);
    }

    &-price,
    &-total {
      font-weight: var(--fw-seimbold);
      color: var(--clr-gray-light);
    }

    &-total.toclone {
      display: none;
    }
  }
  .cart-summary {
    .order-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: var(--fw-semibold);

      .total-label {
        font-size: var(--fs-md);
        color: var(--clr-gray-dark);
      }

      .total-amount {
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
        color: var(--clr-red);
      }
    }
  }
  &.cloned {
    .confirm-order,
    .delivery-note,
    .item-pricing .item-total,
    .remove-cart-item {
      display: none;
    }
    .item-total.toclone {
      display: block;
    }
    .item-details {
      img {
        display: block;
      }
    }
  }
}
